.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 48px;
  max-width: 90%;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 476px) {
  .content {
    max-width: 90%;
  }
}

@media screen and (min-width: 600px) {
  .content {
    max-width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 90%;
  }
}
