mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  width: 240px;
  background: #002b5c;
  color: white;
  padding: 16px;
  text-align: center;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
  text-align: start;

  mat-icon {
    margin-right: 8px;
  }
}

mat-expansion-panel {
  color: white;
  background-color: transparent;

  .mat-expansion-panel-header {
    padding: 0;
    .mat-expansion-indicator::after {
      color: white;
    }
  }
  .mat-expansion-panel-header-title {
    color: white;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.content {
  height: 100vh;
  border-radius: 10px;
  padding-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: 100vh;
}
