/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$fontFamily: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
  Lucida Grande, sans-serif;

:root {
  --font-family: #{$fontFamily};
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
}
